.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
width: 100%;
/* padding-right: 15px;
padding-left: 15px; */
margin-right: auto;
margin-left: auto;
}
  
@media (min-width: 576px) {
.container, .container-sm {
max-width: 540px;
}
  
.ul-list {
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
}
.headline{
width: 100%;
font-size: 30px;
}
.subline {
width: 65%;
}   
}
  
@media (min-width: 768px) {
.container, .container-sm, .container-md {
max-width: 720px;
padding-right: 0px;
padding-left: 0px;
}
.headline{
font-size: 50px;
width: 70%;
margin: auto;
margin-bottom: 3%;
}

.subline {
font-size: 23px;
margin-bottom: 7%;
}

.btn-header {
width: 237px;
margin-bottom: 20%;
}

.cover-people {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

.headline2 {
margin: 8% 0 5%;
}

.people {
margin: auto;
width: 65%;
}

.holder-partner {
width: 216px;
position: relative;
margin-bottom: 7%;
}

.tv::after {
bottom: 46%;    
}

.btn-footer {
margin-bottom: 10%;
}
}
  
@media (min-width: 992px) {
.container, .container-sm, .container-md, .container-lg {
max-width: 960px;
}
.headline {
width: 50%;
}

.people {
margin: auto;
width: 90%;
}

.coffe::after {
bottom: 46%;
}

.plane::after {
bottom: 46%;
}

}

  
@media (min-width: 1200px) {
.container, .container-sm, .container-md, .container-lg, .container-xl {
max-width: 1140px;
}

.headline {
width: 40%;
}

.people {
width: 75%;
}

}