

@media screen and (min-width: 960px) and (max-width: 1440px){

.wrapper{
max-width: 1440px;
margin: 0 auto;
}

.menu {
width: 100%;
height: auto;
}
    
.con-button {
margin: 0 0 0 50%;
}
    
.logo-conteiner {
margin: 1% 0 0 0;
}
    
.ul-list {
display: flex;
flex-direction: row-reverse;
justify-content: center;
margin: 3% 0% 8%;
}
    
.headline{
width: 42%;
margin: 0 auto 2%;
font-size: 52px;
}
    
.subline{
font-size: 24px;
margin: auto;
margin-bottom: 2%;
}
    
.btn-header {
width: 232px;
margin-bottom: 178px;
}


.headline2 {
position: absolute;
margin: 5% 0 0%;
}
    
.people {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
width: 100%;
margin: auto;
}
    
.holder-partner {
margin: 11% 1% 2%;
}
    
.img {
width: 122px;
margin: auto;
margin-bottom: 20px;
}
    
.tv::after {
bottom: 47%;
left: 63%;
}
    
.chemistry::after{
bottom: 47%;
left: 63%;
}
    
.plane::after {
bottom: 46%;
left: 63%;
}
    
.coffe::after {
bottom: 47%;
left: 63%;
}
    
.btn-footer {
margin-bottom: 5%;
}
    
}

@media screen and (min-width: 768px) and (max-width: 959px) {

.wrapper{
max-width: 100%;
margin: 0 auto;
}

.menu {
width: 100%;
height: auto;
}

.con-button {
margin: 0 0 0 40%;
}

.logo-conteiner {
margin: 1% 0 0 0;
}

.ul-list {
display: flex;
flex-direction: row-reverse;
justify-content: center;
margin: 5% 0% 17%;
}

.headline{
width: 80%;
margin: 0 auto 4%;
font-size: 52px;
}

.subline{
font-size: 24px;
margin: auto;
margin-bottom: 4%;
}

.btn-header {
width: 232px;
margin-bottom: 30%;
}

.headline2 {
position: relative;
left: 0%;
margin: 10% 0 5%;
}

.people {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
width: 65%;
margin: auto;
}

.holder-partner {
width: 44%;
position: relative;
right: 0%;
}

.img {
width: 122px;
margin: auto;
margin-bottom: 20px;
}

.tv::after {
bottom: 47%;
left: 57%;
}

.chemistry::after{
bottom: 46%;
left: 56%;
}

.plane::after {
left: 60%;
width: 40px;
}

.coffe::after {
bottom: 40%;
left: 58%;
}

.btn-footer {
margin-bottom: 12%;
margin-top: 2%;
}
}

    

@media screen and (min-width: 320px) and (max-width: 767px) {
 
.wrapper{
max-width: 100%;
margin: 0 auto;
}

.con-button{
margin: 0 0 40%;
}

.menu {
}

.logo-conteiner {
text-align: center;
margin: 0;
}

.ul-list {
display: flex;
flex-direction: column;
justify-content: center;
margin: 6% 0% 10%;
}

.headline{
width: 100%;
margin: 0 0 4%;
font-size: 30px;
}

.subline{
font-size: 18px;
margin: auto;
margin-bottom: 7%;
}

.btn-header {
width: 280px;
margin-bottom: 58%;
}

.headline2 {
margin: 17% 0 5%;
}

.people{
display: flex;
flex-direction: column;
width: 100%
}

.holder-partner{
width: 320px;
position: relative;
margin: auto;
margin-bottom: 3%;
}

.tv::after{
position: absolute;
content: '';
display: block;
bottom: 40%;
left: 58%;
width: 40px;
height: 40px;
background: url(../img/11.png);
background-size: cover;
border: 4px solid #ffffff;
border-radius: 50px;
margin: 0 0 0px;
}
    
.chemistry::after{
position: absolute;
content: '';
display: block;
bottom: 45%;
left: 58%;
width: 40px;
height: 40px;
background: url(../img/22.png);
background-size: cover;
border: 4px solid #ffffff;
border-radius: 50px;
margin: 0 0 0px;
}
    
.coffe::after{
position: absolute;
content: '';
display: block;
bottom: 40%;
left: 58%;
width: 40px;
height: 40px;
background: url(../img/33.png);
background-size: cover;
border: 4px solid #ffffff;
border-radius: 50px;
margin: 0 0 0px;
}
    
.plane::after{
position: absolute;
content: '';
display: block;
bottom: 40%;
left: 58%;
width: 40px;
height: 40px;
background: url(../img/44.png);
background-size: cover;
border: 4px solid #ffffff;
border-radius: 50px;
margin: 0 0 0px;
}

.img {
width: 122px;
margin: auto;
margin-bottom: 20px;
}

.btn-footer {
margin-bottom: 25%;
margin-top: 2%;
}
    


}

