html {
  box-sizing: border-box;  
}

*, *::before, *::after{
    box-sizing:inherit;
}
* {
    /*outline: 1px solid red;*/
}

body{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: rgb(129, 129, 129);
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}


/* ----NAVIGATION---- */

.page-header{
    width: 900px;
    margin: 0 auto;
    
}

.menu-2{
    font-size: 0;
    margin: 0;
    margin-bottom: 77px;
    padding-left: 60px;
    text-align: center;     
}

.menu-2 li:last-child{
    margin-right: 0px;
}

.menu-2 a:hover,
.menu-2 a:focus{
    color: #03a9f4;
}
    
.menu-item{
    margin-right: 125px;
    display: inline-block;
}

.menu-link{
    color: rgb(83, 83, 83);
    font-size: 14px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    
}



/* --FEATURES SECTION 6-- */

.wrapper{
    width: 900px;
    margin: 0 auto;
    padding-top: 103px;
    box-sizing: border-box;   
}

.team-list{
    list-style: none;
    margin:0px;
    padding: 0;
    font-size: 0px;
}

.image{
    display: block;
    margin-bottom: 32px;
}

.list{
    margin-right: 60px;
    margin-bottom: 130px;
    display: inline-block;
}

.list:nth-child(2n){
    margin-right: 0px;
}

.list:nth-last-child(-n+2){
    margin-bottom: 0px;
}

.name-team{
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 24px;
    line-height: 15px;
    color:#b4ad9e;
}
.occupation{
    color:#626262;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 36px;
    display: block;
}
.about{
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}


/* ----FOOTER---- */

.page-footer{
    font-size: 0;
    margin: 0;
    text-align: center;
}


.style-button{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 24px;
    color: rgb(129, 129, 129);
    width: 163px;
    height: 60px;
    background: none;
    border: 2px solid;
    margin-top: 52px;
    margin-bottom: 100px;
}

