*{
    margin: 0;
    padding: 0;
    font-size: 0;
}

.box{
    width: 300px;
    height: 300px;
    background: radial-gradient(circle at center,  #16b829, #ff2b6a)

}

.box2{
    width: 300px;
    height: 300px;
    background: linear-gradient( to left, #16b829, #ff2b6a);

}